    <mat-toolbar fxLayout="row">
        <span class="logo"
        fxFlex="5"
        fxFlexAlign="start center"
        fxFlexOffset="5">
        <strong>PiD</strong>
        </span>
        <ul fxLayout="row"
        fxLayoutGap="10"
        fxLayoutAlign="center">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
        <div class="menu-button"
        fxFlexAlign="end center">
            <button mat-button>
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>
