<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="header" fxFlex="10" fxFlexAlign="center center" fxFlexGap="5px">
        <h1>Welcome to Pi Diary, A place where you can freely share all those burning secrets<br>
        with the rest of the world</h1>
        <button mat-raised-button color="primary"
        routerLink="/signup">Signup</button>
        <button mat-raised-button color="primary"
        routerLink="/login">Login</button>
    </div>
    <br>
    <br>
    <br>
    <div fxLayout="column" class="develop">
        <h1>Completely develope this landing page!</h1>
    </div>
</div>